<h1>Queues</h1>

<button (click)="createQueue()" class="btn btn-primary">Create a new queue</button>
<p>See all available queues:</p>

<p *ngIf="!queueGet"><em>Loading...</em></p>
<table class='table' *ngIf="queueGet">
  <thead>
    <tr>
      <th>Identifier</th>
      <th>Commencement</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let queue of queueGet">
      <td>{{ queue.id }}</td>
      <td>{{ queue.timeStamp | date :"MMM d, y h:mm:ss a"}}</td>
      <td>
          <a routerLink="/queue/{{queue.id}}" class="btn btn-primary">Select</a>
      </td>
      <td>
        <button (click)="deleteQueue(queue.id);" class="btn btn-primary">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

