<p *ngIf="!queue"><em>Loading...</em></p>
<div *ngIf="queue">
    <h1>Queue Id: {{queue.id}}</h1>

    <app-queue-enqueue [queueId]=queue.id></app-queue-enqueue>


    <p *ngIf="!queueEntries"><em>No entries in queue</em></p>
    <div *ngIf="queueEntries">
        <p>Current:{{current}}</p>

        <table class='table'>
            <thead>
              <tr>
                <th>Username:</th>
                <th>Entered on:</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let queueEntry of queueEntries">
                <td>{{ queueEntry.Username }}</td>
                <td>{{ queue.timeStamp }}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>