<p *ngIf="!queueGet"><em>Loading...</em></p>
<div *ngIf="queueGet">
    <h1>Queue Id: {{queueGet.id}}</h1>

    <app-queue-enqueue [queueId]=queueGet.id (enqueueSuccess)=enqueueSuccess($event)></app-queue-enqueue>

    

    <p *ngIf="!queueGet.queue || queueGet.queue.length==0"><em>No entries in queue</em></p>
    <div *ngIf="queueGet && queueGet.queue && queueGet.queue.length>0">
      <h2 class="display-1">Current: {{current}}   <button (click)="dequeue();" class="btn btn-primary">Dequeue</button></h2> 
      <h3>List of queuers</h3>  
      <table class="table">
            <thead>
              <tr>
                <th scope="col">Username</th>
                <th scope="col">Entered on</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let queueEntry of queueGet.queue">
                <td>{{ queueEntry.username }}</td>
                <td>{{ queueEntry.timeStamp | date :"MMM d, y h:mm:ss a" }}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>