<p *ngIf="!queueGet"><em>Loading...</em></p>
<div *ngIf="queueGet">
    <h1>Queue Id: {{queueGet.id}}</h1>

    <app-queue-enqueue [queueId]=queueGet.id [current]=current [queueGet]=queueGet></app-queue-enqueue>

    <button (click)="dequeue();">Dequeue</button>

    <p *ngIf="!queueGet.queue || queueGet.queue.length==0"><em>No entries in queue</em></p>
    <div *ngIf="queueGet && queueGet.queue && queueGet.queue.length>0">
        <p>Current:{{current}}</p>
        <table class='table'>
            <thead>
              <tr>
                <th>Username:</th>
                <th>Entered on:</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let queueEntry of queueGet.queue">
                <td>{{ queueEntry.username }}</td>
                <td>{{ queueEntry.timeStamp }}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>